<div class="row justify-content-center pt-5">
  <div class="col-6 ">
    <h1 class="text-center pb-3">New board</h1>
    <%= render "form", board: @board %>
  </div>

  <div class="text-center">
    <%= link_to "Back to boards", boards_path %>
  </div>
</div>
